html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #252525;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.01);
}